<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAof3qFdeJlH3p232DpZW90Z2fcxiPl3Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>13526936105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-d101a</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-d101a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13526936105:ios:95072876d1c5e94a9e0a38</string>
</dict>
</plist>